@import "tailwindcss";

body {
  background: #061016;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes bounce-heart {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

.animate-bounce-heart {
  animation: bounce-heart 0.3s ease-in-out;
}

